<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/logo.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Gopikrishna Arepalli</h4>
  </div>
  <div class="user-content">
  	<p>
	Hey there! I am Gopikrishna Arepalli, I am an Under graduate in Electronies Engineering. Currently working as a Software Engineer with a strong background in Python, Pytest, Kubernetes and devops tools like Git, JIRA, Jenkin's.
	</p>
	<p>
	From the past two years, I have been working in <a href="http://www.asmltd.com/" target="_blank">ASM Technologies Ltd</a> as QA Engineer for Infoblox client which is a IT automation and security company based in California's Silicon Valley.
	</p>
	<p>
	My responsiblites includes Writing testcases, Manual testing, Automation testing using Pytest, Creating Jenkin's CI jobs for auomated suite executions and JIRA bug tracking.
	</p>
	</div>
  </div>
</div>