<html lang="en-US">
  <header>
      
      <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto+Slab:700" rel="stylesheet">
  </header>
  <body>
    <div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/logo.png"></a>
  </div>
  <div class="user-intro center-align">
    <h5>Gopikrishna Arepalli</h5>
    <h6><strong>Software Engineer</strong></h6>
  </div>
  <div class="user-content">
    <p>
      Hey! There, I am a Software Engineer, with strong knowledge in Python. I love programming and learning new technologies.
    </p>
    <p>
      From the past two years, I have been working in <a href="http://www.asmltd.com/" target="_blank" style="color:blue">ASM Technologies Ltd</a> as Automation Engineer for <a href="https://www.infoblox.com/" target="_blank" style="color:blue">Infoblox</a> client which is a IT automation and security company based in California's Silicon Valley.
    </p>
    
    <p>
    <b>My responsibilities includes:</b>
    <ul>
     <li>Writing testcases, Manual testing on the feature, and JIRA bug tracking</li>
     <li>Automating the functional testcases using pytest framework</li>
     <li>Creating Jenkin's CICD jobs for auomated suite executions</li>
    </ul>
     </p>

   <div class="container">
      <figure class="c-img">
        <figcaption><h4>Education</h4>
          <ul>
            <li>
            <p><span style="font-weight">2013-2016</span></p>
            <span style="font-size:18px; font-weight:bold;">NRI Institute of Technologies</span>
            <span style="font-family:futura-lt-w01-light,sans-serif;">Electronics Engineering</span>
            </li>
            <li>
            <p><span style="font-weight">2010-2013</span></p>
            <span style="font-size:18px; font-weight:bold;">SIR C R REDDY POLYTECHNIC</span>
            <span style="font-family:futura-lt-w01-light,sans-serif;">Electronics Engineering</span>
            </li>
          </ul>
        </figcaption>
      </figure>
      <figure class="c-img">
          <figcaption><h4>Experience</h4>
            <ul>
              <li>
              <p><span style="font-weight">2016-Present</span></p>
              <span style="font-size:18px; font-weight:bold;">ASM Technologies Limited</span>
              <span style="font-family:futura-lt-w01-light,sans-serif;">Automation Engineer</span>
              </li>
            </ul>
          </figcaption>
        </figure>
        <figure class="c-img">
            <figcaption><h4>Technologies and Tools</h4>
              <ul>
                <li>Python</li>
                <li>Pytest</li>
                <li>GitHub</li>
                <li>Jenkin's</li>
                <li>JIRA</li>
                <li>Kubernetes</li>
                <li>Linux/Windows</li>
                <li>AWS EC2</li>
                <li>vSphere</li>
                <li>Docker</li>
              </ul>
            </figcaption>
          </figure>
          <figure class="c-img">
              <figcaption><h4>Honor & Award</h4>
                <ul>
                  <li>
                  <p><span style="font-weight">2018</span></p>
                  <span style="font-size:18px; font-weight:bold;">BRIGHT MIND AWARD</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span style="font-family:futura-lt-w01-light,sans-serif;">ASM Technologies Limited</span>
                  </li>
                </ul>
              </figcaption>
            </figure>
    </div>
  </div>
</div>
